*{
	margin:0;
	padding: 0;
}


html,body {
    height: 100%;
    min-height: 100%;
}


.header {
	background: black;
	color:white;
}

.main {
	min-height: 100%;
	
}

h1>span {
	font-size:small;
	font-style:italic;
}


.footer {
	height: 200px;
	width: 100%;
	margin-top: -200px;
	background: #2B2B2B;
	clear:both;
}

.all {
	margin:10px;
}

.h2 {
	font-size:medium;	
}


.prew {
	width:60%;
}

.full-photo:hover {
	position: relative;;
	z-index:999;
	transform: scale(1.6);


}

.navbar a {
	color:black;
}

.not-find {
	height:100%;
	padding-top:20%;
	padding-bottom:40%;
	text-align: center;
}


.right-sidebar {
	margin:10%;
	text-align: center;
}

.btn {
	color:black;
	background: white;
	border-color:black;
	margin-top:10px;
}

a {
	color:#384042;
}

.category-sidebar {
	margin-top:30px;
}

.nav li:hover {
	background:#D4D6D6;
}

.logo {
	height:400px;
	background:url('../images/logo.jpg');
	background-size:cover;
	background-position:30% 25%;
}

.logo p{
	font-size: 25px;
	text-transform:uppercase; 
	color: white;
	margin:180px 0;
	text-align:center;
	text-shadow:1px 2px grey;
}
.head-logo {
	color:white;
	background: black;
	border-color: black;
}